<%- include("parts/header") -%>

<body>
    <div class="wrapper">
        <div class="container">
            <h2>Gastro</h2>
            <h5>Eingeloggt als <%= JSON.stringify(user.name) %></h5> 

            <ul>
                <!-- <li><a href="categories">Kategorieverwaltung</a></li> -->
                <li><a href="shoppinglist">Shoppinglist</a></li>
<!--                 <li><a href="recipes">Recipes</a></li>
                <li><a href="menu_manager">Menu Manager</a></li>
                <li><a href="menu">Menükarte</a></li> -->
            </ul>
        </div>
    </div>
</body>
</html>